.markdown-body code{
    color: #c7254e;
}
.markdown-body pre>code{
    color: #555;
}
.markdown-body h1 {
    font-size: 2.0rem;
    font-weight: 500;
    position:relative;
}
.markdown-body h2 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #42b8dd;
}
.markdown-body h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #9795c7;
}
.markdown-body h1:before{
    position: absolute;
    top: calc(50% - 0.35rem);
    color: #0fa;
    content: '\f188';
    line-height: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.markdown-body h1:before {
    margin-left: -1.2rem;
    font-size: 1rem;
    font-family: 'Font Awesome 5 Free';
}